<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EchoTunes - Login</title>
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="/assests/logo.png" type="image/x-icon">
  <style>
    body {
      background-color: #121212;
      color: #ffffff;
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
  </style>
</head>

<body>
  <div class="login-container">
    <div class="login-header">
      <a href="/"><img src="/assests/logo.png" alt="Spotify Logo" class="logo"></a>
    </div>
    <div class="login-form">
      <h2>Log in to Spotify</h2>
      <form>
        <div class="input-group">
          <label for="email">Email address or username</label>
          <input type="text" id="email" name="email">
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password">
        </div>
        <button type="submit" class="login-button">LOG IN</button>
        <div class="divider">or</div>
        <!-- <button class="facebook-button">CONTINUE WITH FACEBOOK</button> -->
        <button class="google-button"><a href="/auth/google" style="text-decoration: none; color: #fff;">CONTINUE WITH GOOGLE</a></button>
      </form>
      <div class="signup-link">
        <p>Don't have an account? <a href="/signup">Sign up for Spotify</a></p>
      </div>
    </div>
  </div>
</body>

</html>